@define-color foreground #c3c1c1;
@define-color background #190000;
@define-color cursor #c3c1c1;

@define-color color0 #190000;
@define-color color1 #c1a500;
@define-color color2 #db007c;
@define-color color3 #d6bb00;
@define-color color4 #fca700;
@define-color color5 #ff601a;
@define-color color6 #ffc525;
@define-color color7 #968c8c;
@define-color color8 #c00000;
@define-color color9 #ffcc02;
@define-color color10 #ff269f;
@define-color color11 #ffe81f;
@define-color color12 #fec552;
@define-color color13 #ffa579;
@define-color color14 #ffdb88;
@define-color color15 #c3c1c1;
