/*
 *		pywal theme template for notepadqq by threadreaper
 *		https://github.com/threadreaper
 */

.cm-s-nqqwal .CodeMirror-gutters { background: #190000 !important; }
.cm-s-nqqwal .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #c3c1c1; }
.cm-s-nqqwal .CodeMirror-cursor { border-left: 1px solid #c3c1c1; background-color: rgba(255,197,37,0.4)}
.cm-s-nqqwal { background-color: #190000; color: #c3c1c1; }
.cm-s-nqqwal span.cm-builtin { color: #db007c; font-weight: bold; }
.cm-s-nqqwal span.cm-comment { color: #c00000; }
.cm-s-nqqwal span.cm-keyword { color: #d6bb00; font-weight: bold; }
.cm-s-nqqwal span.cm-atom { color: #fca700; }
.cm-s-nqqwal span.cm-def { color: #ff601a; }
.cm-s-nqqwal span.cm-variable { color: #ffc525; }
.cm-s-nqqwal span.cm-variable-2 { color: #ff601a; }
.cm-s-nqqwal span.cm-string { color: #db007c; }
.cm-s-nqqwal span.cm-string-2 { color: #db007c; }
.cm-s-nqqwal span.cm-number { color: #ff601a; }
.cm-s-nqqwal span.cm-tag { color: #d6bb00; }
.cm-s-nqqwal span.cm-property { color: #ffc525; }
.cm-s-nqqwal span.cm-attribute { color: #ffc525; }
.cm-s-nqqwal span.cm-qualifier { color: #fca700; }
.cm-s-nqqwal span.cm-meta { color: #ff601a; }
.cm-s-nqqwal span.cm-header { color: #d6bb00; }
.cm-s-nqqwal span.cm-operator { color: #d6bb00; }
.cm-s-nqqwal span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-nqqwal span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-nqqwal .CodeMirror-activeline-background { background: rgba(255,96,26,0.4); }
.cm-s-nqqwal div.CodeMirror-selected { background: #d6bb00; }
.cm-s-nqqwal .CodeMirror-focused div.CodeMirror-selected { background: #190000); }
